<h1> About Us </h1>
<p> BoLend is a goodwill community for borrowing and lending. Our goal is to act as a safe and convenient intermediary connecting potential borrowers and lenders. </p>
<br>
<h2> The Team </h2>
<p> Nayeong Park <br> Jiwoo Kim <br> Calvin Thai <br> Jiehao Liu <br> Brameyaa Ragu <br> Ramya Prasad <br> </p>
