<h1>Main page</h1>

<%= link_to 'About', page_path('about') %> <br>
<%= link_to 'Terms of Services', page_path('tos') %> <br>
<%= link_to 'Privacy Policy', page_path('privacy') %> <br>
<%= link_to 'FAQ', page_path('faq') %> <br>
