<div class="container">
	<div class="row">
		<div class="col-xs-0 col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
			<% if flash[:failure_msg]%>
			<br>
			  <div class="alert alert-danger font-18">
			    <% @notification.errors.each do |attr,error| %>
			      <p class="text-center"><%= error %></p>
			    <% end %>
			  </div>	   
			<% end %>
			<h1>Update preferences</h1>
			<br><br>

<%= render 'preference_form' %>

	</div>
	<div class="col-xs-0 col-sm-1"></div>
	</div>
</div>