<div class="container">
	<div class="row">
	<!-- <div class="row">
		<div class="col-sm-12 text-center">
			<h1 class="test">
				<%= @time %>
				<%=@user.fname.capitalize%>
			</h1>
		</div>
	</div>
	<br/> -->
	<br/>
	
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
	</div>

	<div id="search_user_list" class="col-lg-6 col-md-6 col-sm-8 col-xs-10 sticky-note">
			<%= render  "users/search_user" %>
	</div>
	
	<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
</div>
</div>
