<% friends = @user.friends %>
<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-user-friends"></i> Friend List <%="(#{friends.length})"if friends.length>0%></div>
<% if friends.empty?%><div>You don't have any friends yet! Please start by searching for users through the search bar above.</div><% end %>
<% for friend in friends%>
	<div >
		<!--desktop view -->
		<%= link_to "#{friend.fname.capitalize} #{friend.lname.capitalize}", user_path(friend) %>
		<%= button_to 'Send Message', conversations_path(sender_id: @user.id, recipient_id: friend.id), form: {style:'display:inline-block;'}, class:"cta",method: :post %>
	</div>
	<hr style="border-top: 1px solid #7A7E81;">
<%end%>
<br/>
