<div class= "center-block">
	<div class="swipe_images">
<% if @item.images.length > 0%>
	<% @item.images.each do |image| %>
		<%= image_tag(image, class: "img-responsive") %>
	<%end%>
<%else%>
	<%= image_tag("No_Image_Available.jpg", class: "img-responsive") %>
<% end %>
</div>
</div>
<p><string>DESCRIPTION:</string> <%= @item.descr %></p>

