<h2>Items you own</h2>

<table>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Status</th>
  </tr>

  <% @user_items.each do |item| %>
    <tr>
      <td><%= link_to item.name %></td> <!--add item_path(item)-->
      <td><%= item.descr %></td>
      <td><%= item.status %></td>
      <!--add item.return_date column to db for lentout items-->
    </tr>
  <% end %>
</table>
