<!--for both /items & /users/:id/items views -->
<%= render "items/filterrific_search" %>

<%= render  "items/search_item" %>


<!-- user specific view for /users/:id/items -->
<%if @user && session[:user_id] && session[:user_id] == @user.id%>
	<div id="user_items"><%= render  "items/manage_items_view" %></div>
<%end%>