<div class=" table-responsive">
  <h2>From borrowers: </h2>   
  <%if @reviews_by_borrower.length > 0 %>   
  <table class="table">
    <tbody>
      <% @reviews.each do |reviewer| %>
      <tr>
        <td><%= "#{reviewer.fname} #{reviewer.lname}"%></td> <!-- link to view user profile?-->
        <td><div class="img-responsive rating-display" data-score="<%= reviewer.r_rating %>"></div></td>
        <td><%= reviewer.comment %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <%else%>
    <p>There's no review from borrowers</p>
  <%end%>
</div>