
<div class="container">
	<div class="page-header"><h1><%="Reviews for #{@user.fname} #{@user.lname}"%></h1></div>
	<p class="img-responsive rating-display" data-score="<%= @user.rating.to_i %>"></p>
	<div class="panel-group">
    <%= render partial: 'reviews_from_lender' %>
  	<%= render partial: 'reviews_from_borrower' %>
  </div>
</div>

<script>
  $('.rating-display').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      //path: '/assets/',
      size: 24
    });   
</script>